Lab 1 - Podstawy PyTorch/data/
Lab 3 - Kwantyzacja sieci neuronowych/data/
Lab 4 - Prunning/data/
Lab 5 - BNNs and SNNs/data/
Lab 5 - BNNs and SNNs/tmp/
Lab 5 - BNNs and SNNs/mnist_cnn.h5
Lab 6 - GPU inference - TensorRT/mnist_cnn.h5
